<header class="display-flex justify-space-between align-center p-2">
  {{!-- Header for page --}}
  
  <h1 class="sub-header">
    Muscle Hustle
  </h1> --}}
  <div class="banner">
    {{!-- Logo reference--}}
    <img class="logo" src="/images/logo.png" alt="logo" />
  </div>
  {{!-- Navbar for page --}}
     <h1 class="sub-header">
    Muscle Hustle
  </h1>
  <nav class="navbar">
      <a href="/">Home</a>
    <a href="/profile">Profile</a>
    {{#if logged_in}}
      <a id="logout" href="/">Logout</a>
    {{else}}
      <a href="/login">Login</a>
    {{/if}}
  </nav>

 
  </div>


</header>