<html lang="en">
{{!-- The setup for the main page of the application --}}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Muscle Hustle</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

  </head>
{{!-- Intregrating the body --}}
  <body>
    <main>
      {{{body}}}
{{!-- JavaScript References --}}
    </main>
    <script src="/scripts/login.js"></script>
    <script src="/scripts/logout.js"></script>
  </body>
</html>