{{> header }}
  <div class="">
    <div class="">
      <h2>
        <a href="/review/{{review.id}}">{{review.name}}</a>
      </h2>
      {{!-- trying to add a reply after the review title and description  --}}
      <p>
        <a href="/review/{{reviewcomment.review_id}}">{{reviewcomment.reply}}</a>
      </p>
      </div>
    </div>
    <div class="">
      <p>
        {{> reviews}}
      </p>
    </div>
  </div>
  <script src="scripts/review.js"></script>
